body{
  font-family:Arial;
  background:#f1f3f4;
  margin:0;
}
.login-box{
  width:300px;
  margin:120px auto;
  background:#fff;
  padding:20px;
  border-radius:8px;
  text-align:center;
}
input,textarea,button{
  width:100%;
  padding:10px;
  margin:8px 0;
}
button{
  background:#1a73e8;
  color:#fff;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
.header{
  background:#d93025;
  color:#fff;
  padding:15px;
  font-size:18px;
}
.mail{
  background:#fff;
  margin:10px;
  padding:10px;
  border-radius:5px;
}
.compose{
  display:block;
  margin:10px;
  padding:10px;
  background:#1a73e8;
  color:#fff;
  text-align:center;
  border-radius:5px;
  text-decoration:none;
}
.field{
  width:90%;
  margin:10px auto;
  display:block;
}
